*{
    margin: 0;
}
:root{
    --clr-yellow: #E9D01A;
    --clr-red: #F63030;
    --clr-blue: #33507B;
    --ff-primary: 'Gabarito', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
}
header h2{
    width: 10%;
    margin: 0 0 0 1rem;
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation a{
    text-decoration: none;
    color: black;
}
.navigation p{
    margin: 0 1rem;
}
header p:hover{
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
.top_page{
    height: 20rem;
    width: 100%;
    display: flex;
}
.top_page img{
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 90%;
}
.top_page div{
    position: absolute;
    width: 40%;
    color: var(--clr-red);
    font-family: var(--ff-primary);
    margin: 6rem 14rem;
}
.top_page div h1{
    font-size: 2.5rem;
    text-align: center;
}
.top_page div p{
    color: white;
    text-align: center;
}
.top_page div span{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--clr-yellow);
}
