*{
    margin: 0;
}
:root{
    --clr-red: #F63030;
    --clr-blue: #33507B;
    --ff-primary: 'Gabarito', sans-serif;
}
header{
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
}
header h2{
    width: 10%;
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation a{
    text-decoration: none;
    color: black;
}
.navigation p{
    margin: 0 1rem;
}
header p:hover{
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
.top_page{
    height: 20rem;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}
.top_page img{
    height: 100%;
    width: 100%;
}
.top_page div{
    width: 40%;
    color: var(--clr-red);
    font-family: var(--ff-primary);
    display: flex;
    flex-direction: column;
    margin: 25% 0;
    position: absolute;
}
.top_page div h1{
    font-size: 2rem;
    text-align: center;
}
.top_page div p{
    color: white;
    text-align: center;
}
