*{
  margin: 0;
}
:root{
  --clr-yellow: #E9D01A;
  --clr-red: #F63030;
  --clr-blue: #33507B;
  --clr-beige:#d7d9cb;
  --ff-body: 'Gabarito', sans-serif;
  --ff-heading:'Abril Fatface', serif;
  --ff-primary:'Playfair Display', serif;
}
p{
  font-family: var(--ff-body);
}
header{
  display: flex;
  justify-content: space-between;
}
h2{
  width: 10%;
  margin: 0 0 0 1rem;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation a{
  text-decoration: none;
  color: black;
}
.navigation p{
  margin: 0 1rem;
}
header p:hover{
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
.split{
  text-align: center;
  background-color: var(--clr-beige);
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.split> *{
  margin: 0 0 1em 0;
}
.split h1{
  line-height: 2.25rem;
  font-family: var(--ff-primary);
}
.split p{
  margin-inline: auto;
  width: 80%;
  line-height: 1.5rem;
}
.victims{
  display: flex;
  flex-direction: column;
  text-align:center;
}
.victims h1{
  font-family: var(--ff-primary);
  margin: 0 0 1rem 0;
}
.victims p{
  width: 80%;
  margin-inline: auto;
  line-height: 1.5rem;
}
.victims> *{
  margin: 0 0 1em 0;
}
img{
  display: block;
  max-width: 100%;
  margin: 1em 0;
}
